#Como el archivo .env original está en el .gitignore (no se sube al repositorio)
#creo este archivo .env.example para mostrar las
#variables que requiere el proyecto y que deben ser configuradas en el archivo .env
SECRET_KEY=La secret key de tu proyecto
DEBUG=True
DB_NAME=nombre_db
DB_USER=usuario_db
DB_PASSWORD=password_db
DB_HOST=localhost
DB_PORT=3306